.main-operations {
  text-align: right;
  overflow-wrap: break-word;
  min-height: 8rem;
}

.main-operations .previousOperation,
.main-operations .currentOperation {
  padding: 0.2rem;
}

.main-operations .previousOperation {
  color: #777;
}

.main-operations .currentOperation {
  font-size: 3.6rem;
  font-weight: 700;
}
