.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.3rem;
}

.button-container .button {
  border: 0.1rem solid transparent;
  border-radius: 0;
  height: 9rem;
  font-size: 2rem;
  background-color: #dbdbdb;
  cursor: pointer;
}

.button-container .number {
  background-color: #f3f3f3;
}

.button-container .number:hover {
  background-color: #bababa;
  border-color: #999;
}

.button-container #equal-btn {
  grid-column: span 2;
  background-color: #75a5cb;
}

.button-container #equal-btn:hover {
  background-color: #3a91d8;
}
